.container-fluid{
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
}
#main{
    background-image: url(../background/main.jpg);
    color: antiquewhite;
    background-size: 100% 100%;
    padding: 100px;
}
#services{
    background-image: url(../background/about.jpg);
    color:antiquewhite;
    background-size: 100% 100%;
    padding: 100px;
}
#what-we-do{
    padding: 100px;
}

/* Design UI */
#design-cont{
    display: none;
}

.design-click{
    cursor: pointer;
}

.design-click:hover{
    text-decoration: underline;
}

/* Development UI */
#dev-cont{
    display: none;
}

.dev-click{
    cursor: pointer;
}

.dev-click:hover{
    text-decoration: underline;
}

/* Product Development UI styling */

#prod-cont{
    display: none;
}

.prod-click{
    cursor: pointer;
}

.prod-click:hover{
    text-decoration: underline;
}

#portfolio{
    padding: 100px;
}
#about{
    padding: 100px;
}
#contact{
    background-image: url(../background/image3.jpg);
    color:antiquewhite;
    background-size: 100% 100%;
    padding: 100px;
}
#footer{
    padding: 20px;
}
