.container-fluid{
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
}
#main{
    background-image: url(../background/main.jpg);
    color: ghostwhite;
    background-size: 100% 100%;
    padding: 100px;
}

#services{
    background-image: url(../background/about.jpg);
    color:ghostwhite;
    background-size: 100% 100%;
    padding: 100px;
}

#contact{
   background-image: url(../background/image3.jpg);
   color: ghostwhite;
   background-size: 100% 100%;
   padding: 100px;
}

#Name{
    background-color: transparent;
    color: white;
}

#Email{
    background-color: transparent;
    color: white;
}

#area-text{
    background-color: transparent;
    color: white;
}

#what-we-do{
    padding: 80px;
    background-color:ghostwhite;

}
#about{
    padding: 100px;
    background-color:ghostwhite;
}

#design-cont{
    display: none;
}

.design-click{
    cursor: pointer;
}

#dev-cont{
    display: none;
}

.dev-click{
    cursor: pointer;
}


#prod-cont{
    display: none;
}

.prod-click{
    cursor: pointer;
}


#portfolio{
    padding: 60px;
}


.col-md-3{
    position: relative; 
    padding: 20px;  
}

#web-back,#graph-back,#logo-back,#pallete-back,#mobile-back,#func-back,#brand-back,#promo-back{
    display: none;
    color:antiquewhite;
    font-family:fantasy;
    font-style: italic;
    font-weight:600;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#web-pic img:hover{
    filter:blur(2px);
    cursor: pointer;

}

#graph-pic img:hover{
    filter:blur(4px);
    cursor: pointer;


}

#logo-pic img:hover{
    filter:blur(4px);
    cursor: pointer;
   
}

#pallete-pic img:hover{
    filter:blur(4px);
    cursor: pointer;

}

#mobile-pic img:hover{
    filter:blur(4px);
    cursor: pointer;

}

#func-pic img:hover{
    filter:blur(4px);
    cursor: pointer;

}

#brand-pic img:hover{
    filter:blur(4px);
    cursor: pointer;

}

#promo-pic img:hover{
    filter:blur(4px);
    cursor: pointer;

}

button{
    background-color: transparent;
    border: 2px solid honeydew;
    border-radius: 5px;
}

button:hover{
   background-color: honeydew;
}

#FSB{
    display: none;
}

#footer{
    padding: 20px;
}
